<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8", name='viewport', content='width=device-width, initial-scale=1.0')
    title 中興校際盃
    link(rel="stylesheet", href="style/style.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='./js/main.js')
  body
    .mobileHeader
      .dropdown
        .dropbtn MENU
          .dropdown-content
            .btn1
              p 賽制介紹
            .btn2
              p 比賽規則
            .btn3
              p 名次獎品
            .btn5
              p 賽程表
            .btn6
              p 粉絲專頁
            .btn7
              p 贊助單位
            .btn8
              p 相關連結
    .main
      img.background(src='./img/Background.png')
      .left
        .list
          img.btn1(src='./img/redTOP1.png')
        .list
          img.btn2(src='./img/redJG1.png') 
        .list
          img.btn3(src='./img/redAP1.png') 
        .list
          img.btn4(src='./img/redAD1.png') 
        .list
          img.btn5(src='./img/redSUP1.png')
        .footer
          img.logos(src='./img/左下.png')
      .middle
        .page0
          img.cover(src='./img/cover.png')
        .page1
          .textArea
            h2 英雄聯盟正規賽(以下皆以16隊為基準)：

          img.textBack(src='./img/content.png')
        .page2
          .textArea
            h1 page2
          img.textBack(src='./img/content.png')
        .page3
          .textArea
            h1 page3
          img.textBack(src='./img/content.png')
        .page4
          img.textBack(src='./img/content.png')
          .tag
            button.single
              p 中路單挑大賽
            button.multi
              p 正規賽
          iframe.singleForm(src='https://docs.google.com/forms/d/e/1FAIpQLSdpOzbnoG_TIdjFyJdmHayvBtCNhipFXpTz2iecIioLRp3zqA/viewform?usp=sf_link')
          iframe.multiForm(src='https://docs.google.com/forms/d/e/1FAIpQLSfbe5WH8SCC74Re03nHsQWkjIYtE3IaT8-nxwmv6qr5agFveg/viewform?embedded=true')
        .page5
          .textArea          
            h1 page5
          img.textBack(src='./img/content.png')
        .page6
          .textArea 
            h1 page6
          img.textBack(src='./img/content.png')
        .page7
          .textArea 
            h1 page7
          img.textBack(src='./img/content.png')
        .page8
          .textArea 
            h1 page8
          img.textBack(src='./img/content.png')
        .page9
          .textArea 
            h1 page9
          img.textBack(src='./img/content.png')
        .page10
          .textArea 
            h1 page10
          img.textBack(src='./img/content.png')
      .right
        .list
          img.btn6(src='./img/blueTOP1.png')
        .list
          img.btn7(src='./img/blueJG1.png')
        .list
          img.btn8(src='./img/blueAP1.png')
        .list
          img.btn9(src='./img/blueAD1.png')
        .list
          img.btn10(src='./img/blueSUP1.png')
        .footer
          img.logos(src='./img/右下.png')